*,
*::after,
*::before {
  box-sizing: border-box;
}

.error {
  color: red;
  background: #d3d3d3;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  /* width: 70%; */
  text-align: center;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  /* width: 70%; */
  text-align: center;
}

body {
  background: #f3f3f3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  color: #333;
}

.phonebook-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-contact-form input,
.search-contact-form input {
  display: block;
  margin: 0 0 1rem 0;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 75%;
}

.dashboard-left {
  padding:1rem;
}
.dashboard-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-right:nth-child(even) .contact:last-child {
  order:-1;
}
.dashboard-right .contact {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  background-color: #cccccc1f;
}
.dashboard-right .contact-name {
  margin: 0;
  font-size: 1.2em;
  text-transform: capitalize;
}

button {
  padding: 10px 30px;
  background: #f8a035;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.buttons{
  display: flex;
  gap: 1rem;
}

.delete{
  background-color: rgba(255, 0, 0, 0.522);
}

.delete:hover{
  background-color: rgba(255, 0, 0, 0.642);
}

.edit {
  background-color: rgba(0, 0, 255, 0.39);
}

.edit:hover{
  background-color: rgba(0, 0, 255, 0.642);

}

.pagination{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  /* margin: 2rem; */
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  
}

@media only screen and (max-width: 750px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-left {
    border: none;
  }

  .dashboard-right {
    border-top: 1px solid #ccc;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
